@use '../../scss/' as *;

.hero-slider{
    height: 100vh;
    max-height: 1080px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    // margin-top: calc(#{$header-height} * -1);

    // @include tablet {
    //     margin-top: calc(#{$header-tablet-height} * -1);
    // }
    // @include mobile {
    //     margin-top: calc(#{$header-mobile-height} * -1);
    // }

    &__item {
        @include flex(center, space-between);
  
        pointer-events: none;
        inset: 0 ;

    }
    
    &.active {
    
        pointer-events:visible;
    }
}